{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-center">
            <thead>
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                    RPAS Type
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                    RPAS Registration
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                    RPAS Brought Forward
                </th>
                
              </tr>
            </thead>
            <tbody>
                {% for rpas in rpass %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        {{rpas.rpas_type}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        {{rpas.rpas_reg}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        {{rpas.airframe_bf}}
                    </td>
                    
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

